// Styling for the footer
.btn-up {
  border: none;
  border-radius: 3px;
  padding: 5px 8px;
  background-color: $white;
  position: absolute;
  right: 25rem;
  margin-top: -5rem;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  i {
    color: $primary;
  }
}

footer {
  font-size: 10pt;
  padding: 65px 0 50px;
  background-color: $slate_gray;

  .footer-devider {
    border-top: 1px solid $light_gray;
  }

  .footer-section__title {
    color: $light_gray;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 40px;

    &::after {
      content: '';
      height: 1px;
      width: 150px;
      display: block;
      margin: 20px 0 0;
      background-color: #fff;
    }
  }

  .footer__logo {
    margin-bottom: 35px;
  }
  
  .footer__contact {
    color: white;
    padding-left: 0;
    list-style: none;

    li {
      display: flex;
      letter-spacing: .02em;
      align-content: flex-start;
      margin-bottom: 10px;
      
      .icon {
        font-size: 9pt;
        padding-top: 5px;
        margin-right: 15px;
      }

    }
  }
  
  .list-inline {
    margin: 0;
    padding: 0;
  }

  .footer-list_columns {
    padding-right: 30px;
    -webkit-columns: 2;
      -moz-columns: 2;
            columns: 2;
    .footer-list__item {
      display: inline-block;
      padding-right: 30px;
      vertical-align: top;

      .footer-list__link {
        display: block;
        position: relative;
        padding-bottom: 10px;
        -webkit-transition: all .3s;
        transition: all .3s;
        color: white;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .social-net {
    margin-top: 27px;
    margin-left: 0;

    .social-net__item {
      padding-left: 0;
      margin-right: 0;
      display: inline-block;

      .social-net__link {
        color: white;
        padding-right: 50px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }

        i {
          margin-right: 5px;
        }
      }
    }
  }

  .store-logo__link {
    display: flex;
    justify-content: space-between;
  }

}

.copyright {
  color: white;
  border-top: 1px solid white;  
  background-color: #333847;
}