// Global styling for this template
body {
  color: #1A1A1A;
  font-family: 'Open Sans', sans-serif;
  background-color: $snow;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  &:focus,
  &:hover {
    color: $primary;
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
  color: $primary;
}

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white;
  background: transparent;
}

img::-moz-selection {
  color: $white;
  background: transparent;
}

.section-heading {
  display: flex;
  margin-bottom: 3rem;
  align-items: center !important;
  justify-content: space-between !important;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 25pt;
    font-weight: normal;
    display: inline-block;
  }
}

.section-default {
  margin-bottom: 5rem !important;
  &.mb-10 {
    margin-bottom: 10rem !important;
  }
}

.social-share-icon {
  list-style: none;
  li {
    padding: 20px;
    text-align: center;
    &.list-header {
      font-weight: 800;
    }
  }
  i {
    font-size: 25pt;
  }
}