// Styling for the post page
.blog-section {
  margin-bottom: 10rem;
}

.trending-post {
  .post-meta {
    padding: 2rem 1rem 1rem;
    transition: transform .2s;
    .category {
      color: #46afbb;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    .title {
      color: #212529;
    }
    .meta {
      color: #ada8a8;
      > span {
        padding-right: 1rem;
        &.view {
          padding-left: 1rem;
          border-left: 1px solid white;
        }
      }    
    }
  }
  .post-summary {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .post-link {
    margin-top: 1rem;
    padding: 2em 0 1rem;
    display: flex;
    justify-content: flex-end;
    > a {
      color: #46afbb;
      padding: 1rem 25px;
      font-weight: 700;
      > span {
        // display: none;
        margin-right: 1rem;
      }
      // > img {
      //   margin-left: 10px;
      // }      
    }
  }
}

.featured-post {
  cursor: pointer;
  min-height: 18rem;
  background-color: yellow;
  .post-meta {
    padding: 1rem;
    transition: transform .2s;
    .category {
      color: white;
      text-transform: uppercase;
    }
    .title {
      color: white;
    }
    .meta {
      color: white;
      > span {
        padding-right: 1rem;
        &.view {
          padding-left: 1rem;
          border-left: 1px solid white;
        }
      }    
    }
  }
  // &:hover {
  //   transform: scale(1.5);
  //   .post-link {
  //     > a {
  //       > span {
  //         // display: block;
  //         // margin-right: 10px;
  //       }      
  //     }
  //   }
  // }
  .post-link {
    margin-top: 2rem;
    margin-right: -15px;
    display: flex;
    justify-content: flex-end;
    > a {
      color: white;
      padding: 10px 25px;
      font-weight: 700;
      > span {
        // display: none;
        margin-right: 10px;
      }
      // > img {
      //   margin-left: 10px;
      // }      
    }
  }
}

#post-grid {
  margin-bottom: 10rem;
  .nav {
    margin-top: 0;
  }
  a {
    &:focus,
    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }
  .post-meta {
    color: $gray;
    > span {
      padding-right: 1rem;
      &.post-view {
        padding-left: 1ren;
        border-left: 1px solid $gray;
      }
    }    
  }
}

#post-detail {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: $snow;
  .container {
    border: 1px solid $light_gray;
    border-radius: 10px;
    background-color: $white;
    .post-title {
      font-size: 20pt;
      margin-bottom: 15px;
    }
    .post-meta {
      color: $primary;
      margin-bottom: 15px;
      > span {
        padding-right: 1rem;
        &.post-view {
          padding-left: 1rem;
          border-left: 1px solid $gray;
        }
      }    
    }
  }
}