#promo-section {
  margin-bottom: 10rem;
}

#deal,
.deal-post {
  .car-brand {
    color: #b5b6b7;
  }
  .car-type {
    font-weight: 100;
  }
  .car-price {
    font-weight: 800;
     font-size: 16pt;
  }
  .deal-meta {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f1f3f4;
    padding-top: 15px;
    margin-top: 15px;
    .deal-tenor {
      font-size: 14pt;
    }
    .deal-rate {
      font-weight: 800;
      font-size: 20pt;
      color: #f59733;
    }
  }
}

#promo {
  .promo-periode {
    color: #b5b6b7;
  }
}


.promo-detail {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f9fafb;
  .container {
    border: 1px solid #eeee;
    border-radius: 10px;
    background-color: white;
    .post-title {
      font-size: 25pt;
    }
    .promo-periode {
      color: #46afbb;
      margin-bottom: 25px;
      display: block;  
    }
  }
}