.promo-section {
  margin-bottom: 5rem;
}

#promo-grid {
  margin-bottom: 10rem;
  .nav {
    margin-top: 0;
  }
  .card {
    border-color: #f1f1f1;
  }
}

#deal,
.deal-post {
  .car-brand {
    color: #b5b6b7;
  }
  .car-type {
    font-weight: 100;
  }
  .car-price {
    font-weight: 700;
     font-size: 16pt;
  }
  .deal-meta {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f1f3f4;
    padding-top: 15px;
    margin-top: 15px;
    .deal-tenor {
      font-size: 14pt;
    }
    .deal-rate {
      font-weight: 700;
      font-size: 20pt;
      color: #f59733;
    }
  }
}

#promo {
  .promo-periode {
    color: #b5b6b7;
  }
}


#promo-detail {
  padding-top: 7rem;
  padding-bottom: 10rem;
  background-color: $snow;
  nav {
    margin-bottom: 3rem;
    .breadcrumb {
      background-color: transparent;
    }
  }
  .container {
    border-radius: 10px;
    background-color: $white;
    .post-title {
      font-size: 20pt;
      margin-bottom: 15px;
    }
    .promo-periode {
      color: $primary;
      margin-bottom: 15px;
      display: block;  
    }
    &.transparent {
      background-color: transparent;
    }
  }
}

.color-list {
  margin-top: 1.5rem;
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 0.25rem;
    border: 0;
    margin-right: 1rem;
    &.active {
      border: 3px solid $teal
    }
    &.red {
      background-color: red;
    }
    &.gray {
      background-color: $gray;
    }
    &.black {
      background-color: $black;
    }
    &.orange {
      background-color: orange;
    }
  }
}

.highlight-orange {
  padding: 0.5rem;
  background-color: rgba(255, 153, 51, 0.3);
  border-radius: 0.25rem;
  display: inline-block;
  font-size: large;
  color: $dark_gray;
  span {
    color: $orange
  }
}

.promo-highlist {
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 2rem;
      i {
        color: #46afbb;
      }
    }
  }
}

.promo-spesifikasi {
  padding: 0 2rem 2rem 3rem;
  .nav {
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    &.nav-tabs {
      border: 0;
      .nav-item {
        .nav-link {
          border: 0;
          padding-left: 0;
          color: $gray;
          &.active {
            border: 0;
            color: $teal;
          }
          &:hover {
            border: 0;
            color: $teal;
          }
        }
      }
    }
  }
  .container-box {
    text-align: center;
    padding: 1rem 0;
    background-color: $light_gray;
    border: 3px solid #f1f1f1;
    border-radius: 1rem;
    i {
      display: block;
      color: $dark_teal;
      font-size: xx-large;
    }
  }
}