// Variables

$white      : #FFFFFF !default;
$snow       : #F9FAFB !default;
$black      : #1A1A1A !default;
$orange     : #FF9933 !default;
$teal       : #03aeBB !default;
$dark_teal  : #007386 !default;
$sky_blue   : #E1F5F7 !default;
$light_blue : #F5FCFC !default;
$gray       : #B5B6B7 !default;
$dark_gray  : #5B5B5C !default;
$light_gray : #F1F3F4 !default;
$slate_gray : #333847 !default;

$primary    : $teal !default;